# Node
node_modules/
dist/
build/
coverage/
*.log
*.log.*
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# .NET
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tmp
*.swp
